* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: #7b1fa2;
  color: #ffffff;
  padding: 0 10%;
}

.main-heading {
  text-transform: uppercase;
  font-weight: 300;
}